{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <div class="center">
    <h1>Admin Dashboard</h1>
  </div>
      <h2>{{semester}}</h2>
	<a class="btn btn-primary" href="{{ url_for('semester') }}">Set Semester</a>
      <br />
        <br />
      <a class="btn btn-primary" href="{{ url_for('semester_dates') }}">Set Semester Dates</a>
      <br/>
      {{ utils.flashed_messages() }}
      <br />
</div>
{% endblock %}