{% from "macros.html" import student_attendance_row %}
{% extends "index.html" %}
{% block content %}
<h1>Attendance</h1>
    <h2>{{semester}} - {{date}}</h2>   
    <form name="form1" class="form-inline" method="POST" action="{{ url_for('attendance') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="action" value="pickdate"/>
         <div class="form-group">
          <label for="form1-date">Select date</label>
          <select class="form-control" id="form1-date" name="form1-date">
            {% if semester_dates %}
                {% for sdate in semester_dates %}                    
                    <option value="{{sdate.semester_date_id}}|{{sdate.cal_date}}" {{"selected" if sdate.cal_date|string() == date else ""}}>{{ sdate.cal_date }}</option>                    
                {% endfor %}
            {% endif %}
          </select>
        </div> 
        <input type="submit">
    </form>
 
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item"><a class="nav-link active" href="#home" data-toggle="tab" role="tab">Morning</a></li>
      <li class="nav-item"><a class="nav-link" href="#menu1" data-toggle="tab" role="tab">Afternoon</a></li>     
    </ul>

    <form class="form-horizontal" method="POST" action="{{ url_for('attendance') }}">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        {% if morning %} <input type="hidden" name="morningnum" value="{{morning|count}}"/> {% endif %}
        {% if afternoon %} <input type="hidden" name="afternoonnum" value="{{afternoon|count}}"/> {% endif %}
    <div class="tab-content">
      <div id="home" class="tab-pane active">
        <h3>MORNING</h3>
        <p>Enter morning attendance here.</p>        
        
        <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Count</th>
                <th>Name</th>
                <th>radio buttons</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
                                
            {% for student in morning %}
                {{student_attendance_row(student, loop, 'M')}}
            {% endfor %}
            
            </tbody>
        </table>
        </div>
        
      </div>
      <div id="menu1" class="tab-pane fade">
        <h3>AFTERNOON</h3>
        <p>Enter afternoon attendance here.</p>
        
        <div class="table-responsive">
        <table class="table table-condensed table-bordered table-hover table-striped">
            <thead>
            <tr>
                <th>Count</th>
                <th>Name</th>
                <th>radio buttons</th>
                <th>Notes</th>
            </tr>
            </thead>
            <tbody>
            {% if afternoon %}
            {% for student in afternoon %}
                {{student_attendance_row(student, loop, 'A')}}
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
        </div>
                
      </div>
        <input type="submit">
    </div>
    </form>
{% endblock %}