{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block content %}
<div class="content-section" >

  <div class="panel panel-default" >
    <div class="panel-heading" >
             {% if request.endpoint.endswith("students") %}                             
              <span style="font-size:36px">Students</span>  
            <a class="btn btn-primary" href="{{ url_for('add_student') }}">Add Student</a>
                
             {% endif %}
             {% if request.endpoint.endswith("teachers") %}
               <span style="font-size:36px">Teachers</span>
                <a class="btn btn-primary" href="{{ url_for('add_teacher') }}">Add Teacher</a>
            {% endif %}
</div>
    <div class="panel-body">
          


          {% if persons %}
          {{ utils.flashed_messages() }}
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th width="4%">#</th>
                  <th width="15%">Name</th>
                  <th width="15%">Email</th>
                  <th width="10%">Phone</th>
                  <th width="30%">Address</th>
                  <th width="10%">Language</th>
                  <th width="10%">Country</th>
                  <th width="3%">Edit</th>
                  {% if current_user.is_admin %}
                  <th width="3%">Delete</th>
                  {% endif %}
                </tr>
              </thead>
              <tbody>
              {% for item in persons %}
                <tr>
                  <td>{{loop.index}}</td>
                  <td>{{ item.first_name }} {{ item.last_name }} </td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>{{ item.address }}</td>
                  <td>language</td>
                  <td>country</td>
                  {% if request.endpoint.endswith("students") %}
                  <td><a href="{{ url_for('edit_student', id=item.person_id) }}"><i class="fa fa-pencil"</i>Edit</a></td>
                  {% elif request.endpoint.endswith("teachers") %}
                  <td><a href="{{ url_for('edit_teacher', id=item.person_id) }}"><i class="fa fa-pencil"</i>Edit</a></td>
                  {% endif %}                  
                  {% if current_user.is_admin %}
                  <td><a href="#"><i class="fa fa-trash"</i>Delete</a></td>
                  {% endif %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <h3>No data has been added yet. </h3>
          {% endif %}
    

    </div>
  </div>
    
</div>
{% endblock %}