{% macro nav_link(endpoint, text) %}
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint and request.endpoint.endswith(endpoint) %}active{% endif %}" href="{{ url_for(endpoint) }}">{{text}} {% if request.endpoint.endswith(endpoint) %}<span class="sr-only">(current)</span>{% endif %}</a>
    </li>
{% endmacro %}


{% macro student_attendance_row(student, loop, MorA) %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{student.first_name }} {{student.last_name }}</td>
        <td>                
              <label class="radio-inline"><input type="radio" name="optradio{{student.person_id}}" value="P" {% if student.getField and student.getField.attendance == "P"%}checked="checked" {% endif %}>present</label>                    
              <label class="radio-inline"><input type="radio" name="optradio{{student.person_id}}" value="L" {% if student.getField and student.getField.attendance == "L"%}checked="checked" {% endif %}>late</label>
              <label class="radio-inline"><input type="radio" name="optradio{{student.person_id}}" value="H" {% if student.getField and student.getField.attendance == "H"%}checked="checked" {% endif %}>half-day</label>                    
              <label class="radio-inline"><input type="radio" name="optradio{{student.person_id}}" value="A" {% if student.getField and student.getField.attendance == "A"%}checked="checked" {% endif %}>absent</label>
              <input type="hidden" name="student{{loop.index}}{{MorA}}" value="{{ student.person_id }}"/>
        </td>
        <td>test message</td>
    </tr>
{% endmacro %}

