{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block content %}
<div class="content-section">
<div class="center">
{{ wtf.quick_form(form) }}
</div>
  <br/>
  {{ utils.flashed_messages() }}
  <br/>
</div>
{% endblock %}