{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block content %}
<div class="content-section">
  <div class="center">
    <h1>Set Semester</h1>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">

    </div>
    <div class="panel-body">

     {{ wtf.quick_form(form) }}

      <br/>
      {{ utils.flashed_messages() }}
      <br />

    </div>
  </div>
    


</div>
{% endblock %}